<div class="container d-flex justify-content-center align-items-center vh-100">
  <img src="assets/images/logo.png" alt="Kaiburr Logo" />
</div>
<br />
<h1 class="text-center">Server Management App</h1>
<!-- Buttons -->
<div class="container d-flex justify-content-center align-items-center vh-100">
  <button (click)="openCreateServerDialog()" class="btn btn-primary mx-2">Create Server</button>
  <button (click)="deleteAllServers()" class="btn btn-danger mx-2">Delete All Servers</button>
</div>
<app-server></app-server>
